<div class="row">
  <div class="span2">
  	<h2>span2 column</h2>
  </div>
  
  <div class="span10">

		<% if user_signed_in? %>
		<h1>You're signed in'</h1>

		<% else %>
		<div class="center hero-unit">
		    <h1>Welcome to One Month Rails</h1>

		    <h2>
		      You've found the home page for the
		      <%= link_to "One Month Rails", "http://onemonthrails.com" %>
		      first application.
		    </h2>

		    <%= link_to "Sign up now!", new_user_registration_path, 
		                                class: "btn btn-large btn-primary" %>
		</div>

		<% end%>

  </div>
</div>

